*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
}
.bgOrange{
    background-color: orange;
}
.h-100{
    height: 100% !important;
}
.object-fit-cover{
    object-fit: cover !important;
}
input[type="submit"]{
    display: inline-block;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    letter-spacing: 0.1rem;
    padding: 15px 35px;
    
}
/* .img-fluid{
    max-width: 100%;
} */